<header class="header">
  <!-- Top Bar -->
  <div class="top_bar">
    <div class="top_bar_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
              <div class="top_bar_phone"><span class="top_bar_title"><%= t ".phone" %></span><%= t ".phone_number" %></div>
              <div class="top_bar_right ml-auto">
                <!-- Social -->
                <div class="top_bar_social">
                  <span class="top_bar_title social_title"><%= t ".follow_us" %></span>
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>				
  </div>
  <!-- Header Content -->
  <div class="header_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header_content d-flex flex-row align-items-center justify-content-start">
            <div class="logo_container mr-auto">
              <a href="#">
                <div class="logo_text"><%= t ".english" %></div>
              </a>
            </div>
            <nav class="main_nav_contaner">
              <ul class="main_nav">
                <li class="active"><%= link_to t(".home"), static_pages_path %></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= t ".english" %>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to "Reading", reading_path, class: "dropdown-item" %>
                    <%= link_to "Listening", listening_path, class: "dropdown-item" %>
                    <%= link_to "Writing", writing_path, class: "dropdown-item" %>
                  </div>
                </li>
                <% if logged_in? %>
                  <li class="nav-item"><%= link_to t(".user"), users_path %></li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= t ".account" %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <%= link_to t(".Profile"), current_user, class: "dropdown-item" %>
                      <%= link_to t(".Settings"), edit_user_path(current_user), class: "dropdown-item" %>
                      <%= link_to t(".Log out"), logout_path, method: :delete, class: "dropdown-item" %>
                    </div>
                  </li>
                <% else %>
                  <li class="nav-item"><%= link_to t(".Log in"), login_path %>|
                  <%= link_to "Signup", signup_path%>
                  </li>
                <% end %>
                <% if is_admin? %>
                  <li class="nav-item"><%= link_to "Manager", admin_listening_listening_questions_url %></li>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="row">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      </div>
    </div>
  </div>
</header>
